<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  parallel="true" thread-count="3" name="AutomationTest" guice-stage="DEVELOPMENT">

  <test name="TC_searchProduct" verbose="2">

  <parameter name="browser" value="chrome"/> 
  <classes>
    
       <class name ="Com.testpractice.testCases.TC_searchProduct"/> 

    </classes>
  </test>

     
			   
	 
    
  </suite> <!-- Create account suit -->


            